@model TeachMeTeachYouSurvey.Models.ThemeEditorViewModel
@using TeachMeTeachYouSurvey.Views

<h2>@_Localize.ResourceManager.GetString(Model.ThemeType.ToString()) - @ViewBag.Title</h2>

<div class="themeEditor">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ThemeType)

        <div>@Html.TextAreaFor(model => model.Description)</div>
        <div id="charcounter">1/100</div>

        <div>@Html.ValidationMessageFor(model => model.Description)</div>

        <p class="actions">
            <input type="submit" value="OK" class="ok" />
            @Html.ActionLink("キャンセル", "Index", null, new { @class = "cancel" })
        </p>
    }
</div>
