@model TeachMeTeachYouSurvey.Models.ThemeEditorViewModel

<h2>@Model.ThemeType - @ViewBag.Title</h2>

<div class="themeEditor">
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ThemeType)

    @Html.TextAreaFor(model => model.Description)
    @Html.ValidationMessageFor(model => model.Description)

    <p class="actions">
        <input type="submit" value="OK" class="ok"/>
        @Html.ActionLink("Cancel", "Index", null, new { @class = "cancel" })
    </p>
}
</div>
