@model TeachMeTeachYouSurvey.Models.IndexViewModel
@using TeachMeTeachYouSurvey.Views
@{
    ViewBag.Title = "Home";
}
@section signInOut{
    @Html.Partial("_LoginPartial")
}
@section preBody {
<section id="aboutThisSite">
    <h4>このサイトについて</h4>
    <div class="description">
        このサイトは、2013.8.3～4 北海道 定山渓で開催のプログラミング Geek 向けイベント、"<a href="http://codejapan.jp/" target="_blank">Code 2013</a>"
        の "きんぎょばち" コーナーで取り上げるプログラミングのテーマを募集・公開するものです。
        <span class="actions">@Html.ActionLink("もっと詳しく...", "AboutThisSite", null, new { @class = "lnkToDetail" })</span>
    </div>
</section>
}
@foreach (var item in Model.ThemesPerType)
{
    <section id='@("themesOf" + item.Key)' class="themes">

        <h4>@_Localize.ResourceManager.GetString(item.Key)</h4>

        @if (User.Identity.IsAuthenticated)
        {
            <div class="actions common">
                @Html.ActionLink("テーマを投稿", "Post", new { themeType = item.Key })
            </div>
        }

        @foreach (var theme in item.Value)
        {
            <div>@Html.Partial("_Theme", theme)</div>
        }
    </section>
}

@section Scripts{
    <script src="~/Scripts/homeIndex.js"></script>
}