@using TeachMeTeachYouSurvey.Code
@using TeachMeTeachYouSurvey.Views
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using System.Configuration
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="Code 2013 きんぎょばち-teach me/teach you- テーマ募集&投票" />
    <meta property="og:description" content="8月3-4日の1泊2日で北海道定山渓で開催のプログラマ向けイベント Code 2013 の、きんぎょばちコーナーでとりあげるプログラミングネタを募集&投票受付中!" />
    <meta property="og:url" content="@Url.AppUrl()" />
    <meta property="og:image" content="@Url.AppUrl()/Content/images/ogpimage.png" />
    <meta name="keywords" content="Code 2013,CodeJP" />
    <meta name="description" content="8月3-4日の1泊2日で北海道定山渓で開催のプログラマ向けイベント Code 2013 の、きんぎょばちコーナーでとりあげるプログラミングネタを募集&投票受付中!" />
    <title>@ViewBag.Title - @_Localize.SiteTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/favicon.png" rel="icon" type="image/png" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="@Url.Action("Index", "RSS")" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @RenderSection("header", required: false)
</head>
<body>
    <div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=388029927980906";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <header>
        <section id="siteTitle">
            <a id="officialSiteLnk" href="http://www.codejapan.jp/" target="_blank" title="Code 2013"></a>
            <span>@_Localize.SiteTitle</span>
        </section>
        <section id="links">
            <a id="lnkRSS" href="@Url.Action("Index", "RSS")" target="_blank"></a>
        </section>
        <section id="signInOut">
            @RenderSection("signInOut", required: false)
        </section>
    </header>

    @RenderSection("preBody", required: false)

    <div id="body">
        @RenderBody()
    </div>

    <footer>
        <section id="contributors">
            <h4>contributors</h4>
            <ul>
            @{
                var contributors = JsonConvert.DeserializeObject<string[]>(File.ReadAllText(Server.MapPath("~/contributors.js")));
                foreach (var contributor in contributors)
                {
                    <li><a href="https://github.com/@contributor" target="_blank">@contributor</a></li>
                }
            }
            </ul>
        </section>

        <section id="odata">
            <h4>Web API(OData)</h4>
            <p>Reference <a href="/Help" target="_blank">here.</a></p>
        </section>

        <section id="source">
            <h4>source code</h4>
            <p><a href="https://github.com/codejp/teachmeteachyousurvey" target="_blank" class="github">https://github.com/codejp/teachmeteachyousurvey</a></p>
        </section>

        <section id="hosting">
            <h4>hosted by</h4>
            <p><a href="https://appharbor.com/" target="_blank" class="appharbor">AppHarbor</a></p>
        </section>
        <section id="social">
            @TwitterGoodies.TweetButton(
                tweetText:string.Format(_Localize.TweetText, Url.AppUrl()),
                url: Url.AppUrl(),
                dataCount: TwitterGoodies.DataCount.Horizontal)

            <div class="fb-like" data-href="@Url.AppUrl()" data-send="false" data-layout="button_count" data-width="280" data-show-faces="false" data-font="segoe ui" data-colorscheme="dark"></div>

        </section>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
