@using TeachMeTeachYouSurvey.Views
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title - @_Localize.SiteTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/favicon.png" rel="icon" type="image/png" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="@Url.Action("Index", "RSS")" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @RenderSection("header", required: false)
</head>
<body>
    <header>
        <section id="siteTitle">
            <a id="officialSiteLnk" href="http://www.codejapan.jp/" target="_blank" title="Code 2013"></a>
            <span>@_Localize.SiteTitle</span>
        </section>
        <section id="links">
            <a id="lnkRSS" href="@Url.Action("Index", "RSS")" target="_blank"></a>
        </section>
        <section id="signInOut">
            @RenderSection("signInOut", required: false)
        </section>
    </header>
    @RenderSection("preBody", required: false)
    <div id="body">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
