@using TeachMeTeachYouSurvey.Views
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>@ViewBag.Title - @_Localize.SiteTitle</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/favicon.png" rel="icon" type="image/png" />
    <link rel="alternate" type="application/atom+xml" title="Atom" href="@Url.Action("Index", "RSS")" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @RenderSection("header", required: false)
</head>
<body>
    <header>
        <section id="siteTitle">
            <a id="officialSiteLnk" href="http://www.codejapan.jp/" target="_blank" title="Code 2013"></a>
            <span>@_Localize.SiteTitle</span>
        </section>
        <section id="links">
            <a id="lnkRSS" href="@Url.Action("Index", "RSS")" target="_blank"></a>
        </section>
        <section id="signInOut">
            @RenderSection("signInOut", required: false)
        </section>
    </header>

    @RenderSection("preBody", required: false)

    <div id="body">
        @RenderBody()
    </div>

    <footer>
        <section id="contributors">
            <h4>contributors</h4>
            <ul>
            @{
                var contributors = JsonConvert.DeserializeObject<string[]>(File.ReadAllText(Server.MapPath("~/contributors.js")));
                foreach (var contributor in contributors)
                {
                    <li><a href="https://github.com/@contributor" target="_blank">@contributor</a></li>
                }
            }
            </ul>
        </section>

        <section id="odata">
            <h4>Web API(OData)</h4>
            <p>Reference <a href="/Help" target="_blank">here.</a></p>
        </section>

        <section id="source">
            <h4>source code</h4>
            <p><a href="https://github.com/codejp/teachmeteachyousurvey" target="_blank" class="github">https://github.com/codejp/teachmeteachyousurvey</a></p>
        </section>

        <section id="hosting">
            <h4>hosted by</h4>
            <p><a href="https://appharbor.com/" target="_blank" class="appharbor">AppHarbor</a></p>
        </section>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
